__pycache__/
.vscode
venv
logs
airflow.cfg
airflow.db
simple_auth_manager_passwords.json.generated
downloads
*.csv
*.XLS
*.xlsx
*.json
src/config.py
astro
.git
.env
airflow_settings.yaml
logs/
.venv
airflow.db
airflow.cfg
tests
.dockerignore
Dockerfile
packages.txt
.astro
standalone_admin_password.txt
webserver_config.py
airflow-webserver.pid
standalone_admin_password.txt
webserver_config.py
airflow-webserver.pid
.airflowignore
dags/exampledag.py
upgrade-test* 
testes.ipynb
*.png
*.svg