pendulum==3.1.0
gspread==6.2.1
google-api-python-client
oauth2client
pandas==2.3.0
numpy==2.3.0
cloudscraper==1.2.71
seaborn
matplotlib
babel
telebot
apache-airflow-providers-standard>=0.0.1
apache-airflow-providers-http

# Instalar o airflow com comando: pip install "apache-airflow==3.0.2" "apache-airflow-providers-google==8.0.0"
# winget install -e --id Astronomer.Astro
# astro dev init
# astro dev start
